<h1> Edit your info </h1>
<div class="signup">
<%= form_for (@user) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :full_name , placeholder:"First & Last Name" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email , placeholder:"Enter email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password_digest, placeholder:"Enter Password" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number , placeholder:"Enter number with no dashes" %>
  </div>

  <div class="field">
    <%= f.label :train_lines %>
    <%= f.text_field :train_lines, placeholder:" EXAMPLE: G L 7 " %>
  </div>

   <div class="field">
    <%= f.label :commute_time %>
    <%= f.text_field :commute_time, placeholder:"EXAMPLE: 60" %>
  </div>

  <div class="field">
    <%= f.label :monday %>
    <%= f.time_field :monday %>
  </div>

  <div class="field">
    <%= f.label :tuesday %>
    <%= f.time_field :tuesday %>
  </div>

<div class="field">
    <%= f.label :wednesday %>
    <%= f.time_field :wednesday %>
  </div>

  <div class="field">
    <%= f.label :thursday %>
    <%= f.time_field :thursday %>
  </div>

   <div class="field">
    <%= f.label :friday %>
    <%= f.time_field :friday %>
  </div>

 <div class="field">
    <%= f.label :saturday %>
    <%= f.time_field :saturday %>
  </div>

 <div class="field">
    <%= f.label :sunday %>
    <%= f.time_field :sunday %>
  </div>

   <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode , place:"Enter your zip code" %>
  </div>



 <%= submit_tag "Submit", class:"waves-effect waves- btn" %>

<% end %>
</div>

<%= link_to 'Back', root_path , class:"waves-effect waves- btn white-text" %>
