<div class="name"> Get To Work on Time </div>
<h1> Welcome! <%= @user.full_name %></h1>



<ul class="user-info">
 <li> Here are your Daily Scheduled Times you set to arrive to work this week <br>
 Monday: <%= @user.monday %> </li>
 <li>Tuesday:  <%= @user.tuesday %> </li>

  <li>Wednesday:  <%= @user.wednesday %> </li>
   <li>Thursday:  <%= @user.thursday %> </li>
    <li>Friday:  <%= @user.friday %> </li>
    <li>Saturday:  <%= @user.saturday %> </li>
    <li>Sunday:  <%= @user.sunday %> </li>

 <li> Train Lines  <%= @user.train_lines %> </li>

 <li> Your commute time is <%= @user.commute_time %> minutes </li>
 <li> Phone number <%= @user.phone_number %>  </li>
</ul>

<a class="waves-effect waves- btn white-text" href="/users/<%=@user.id%>/edit">Edit your info</a>
<%= link_to 'Sign Out', '/signin' , method: :get,  class:"waves-effect waves- btn white-text" %>
