

<div class="name"> Get to Work on Time </div>
<div class="slogan"> Tired of waiting for a train for an eternity? Let us help!
<br> We will text you if there is a delay on your train <br>
  Convenience on a click </div>


    <div class="sign-in">
  <%= form_tag '/users/signin', class:"signin", method: 'post' do %>
    <%= label_tag :email, 'Email', class:"label" %>
    <%= text_field_tag :email, params[:email] %><br><br>
    <%= label_tag :password, 'Password', class:"label" %>
    <%= password_field_tag :password, params[:password_hash] %><br><br>
    <%= submit_tag "Sign In", class:"waves-effect waves- btn" %>
  <%end%>
</div>



<br><br>

<div class="member">Not a member? <a href="/users/new">Sign Up!</a></div>

